<!-- Header navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand">Booking</a>
    <button (click)="toggleNav()" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [ngClass]="{'show': navToggle}">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/newres">Reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ownres">Own Reserv.</a>
        </li>
        <div *ngIf="cleanerRight()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/clnres">Cln Res</a>
          </li>
        </div>
        <div *ngIf="managerRight()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/mngres">Mng Res</a>
          </li>
        </div>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="/items">Task</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
