<mat-card class="pcx-cards">
  <mat-card-header>
    <mat-card-title>Guest reservation</mat-card-title>
  </mat-card-header>


  <div class="row">
    <div class="col-md-9">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Start Date</th>
          <td mat-cell *matCellDef="let element"> {{element.startDate | date:'mediumDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef>End Date</th>
          <td mat-cell *matCellDef="let element"> {{element.endDate | date:'mediumDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="numberOfPersons">
          <th mat-header-cell *matHeaderCellDef>#Guests</th>
          <td mat-cell *matCellDef="let element"> {{element.numberOfPersons}} </td>
        </ng-container>

        <ng-container matColumnDef="clientEmail">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element"> {{element.client.email}} </td>
        </ng-container>

        <ng-container matColumnDef="clientPhone">
          <th mat-header-cell *matHeaderCellDef>Phone Number</th>
          <td mat-cell *matCellDef="let element"> {{element.client.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.status==='PENDING'">
              <button mat-raised-button color="primary" (click)="accept(element.id)">Accept</button>
              <button mat-raised-button color="accent" (click)="deny(element.id)">Reject</button>
            </div>
            <div *ngIf="element.status==='CONFIRMED' && element.checkInDate == null">
              <button mat-raised-button color="primary" (click)="deny(element.id)">Cancel</button>
            </div>
            <div *ngIf="element.checkInDate">
            {{element.status}}
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
