<mat-card class="pcx-cards">
  <mat-card-header>
    <mat-card-title>Guest reservation</mat-card-title>
  </mat-card-header>


  <div class="row">
    <div class="col-md-9">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Start Date</th>
          <td mat-cell *matCellDef="let element"> {{element.startDate | date:'mediumDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef>End Date</th>
          <td mat-cell *matCellDef="let element"> {{element.endDate | date:'mediumDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="numberOfPersons">
          <th mat-header-cell *matHeaderCellDef>#Guests</th>
          <td mat-cell *matCellDef="let element"> {{element.numberOfPersons}} </td>
        </ng-container>

        <ng-container matColumnDef="finalCleaning">
          <th mat-header-cell *matHeaderCellDef>Final cleaning</th>
          <td mat-cell *matCellDef="let element"> {{element.finalCleaning}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
