<div class="container" >
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" [formGroup]="loginForm">

            <div class="form-group">
              <label for="inputUsername">Username *</label>
              <input type="text"
                     class="form-control rounded"
                     id="inputUsername"
                     placeholder="Username" formControlName="username">
            </div>

            <div class="form-group">
              <label for="inputFullname">Full name *</label>
              <input type="text"
                     class="form-control rounded"
                     id="inputFullname"
                     placeholder="Enter email"
                     formControlName="fullName">
            </div>

            <div>
              <label for="inputEmail">Email address *</label>
              <input type="email"
                     class="form-control rounded"
                     id="inputEmail"
                     aria-describedby="emailHelp"
                     placeholder="Enter email"
                     formControlName="email">
            </div>

            <div class="form-group">
              <label for="inputPhoneNumber">Phone number *</label>
              <input type="text"
                     class="form-control rounded"
                     id="inputPhoneNumber"
                     placeholder="Phone number"
                     formControlName="phoneNumber">
            </div>

            <div class="form-group">
              <label for="inputPassword">Password *</label>
              <input type="password"
                     class="form-control rounded"
                     id="inputPassword"
                     aria-describedby="passwordHelp"
                     placeholder="Enter password"
                     formControlName="password">
            </div>

            <button id="submitButton"
                    class="btn btn-lg btn-primary btn-block text-uppercase"
                    type="button"
                    [disabled]="!loginForm.valid || processing"
                    (click)="onSubmitButtonClicked()">
                    {{ processing ? 'Validating...' : 'Register' }}
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
