<form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>

  <mat-card class="pcx-cards">
    <mat-card-header>
      <mat-card-title>Filter conditions</mat-card-title>
    </mat-card-header>

    <div class="row">

      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="sdate" placeholder="Start date">
            <input matEndDate formControlName="edate" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <button mat-raised-button color="primary"
                (click)="filter()">
          Filter
        </button>
      </div>

    </div>
    <div class="row">

      <div class="col-md-9">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date</th>
            <td mat-cell *matCellDef="let element"> {{element.date | date:'mediumDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page">
        </mat-paginator>
      </div>
    </div>

  </mat-card>

</form>


<form [formGroup]="resForm" (ngSubmit)="submitResForm()" novalidate>

  <mat-card class="pcx-cards">
    <mat-card-header>
      <mat-card-title>Filter conditions</mat-card-title>
    </mat-card-header>

    <div class="row">

      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker2">
            <input matStartDate formControlName="sdate" placeholder="Start date">
            <input matEndDate formControlName="edate" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-date-range-picker #picker2></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="#guests"
                 formControlName="guestNumb">
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <section class="tp-section">
          <mat-checkbox
            class="tp-margin"
            formControlName="cleaning">
            Need cleaning
          </mat-checkbox>
        </section>
      </div>

      <div class="col-md-3">
        <button mat-raised-button color="primary" (click)="reserve()">Reserve</button>
      </div>

    </div>

  </mat-card>

</form>
